.header {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    width: 1052px;
    height: 105px;
    margin: 92px 24px 96px;
}

.header_menu_links-list {
    display: flex;
    gap: 32px;
    margin-left: 26px;
    font-size: 18px;
    line-height: 21px;
    list-style: none;
}

.header_menu_links-list-item {
    margin-top: 45px;
}

.header_menu_links-list-item_active {
    text-decoration: underline;
    text-underline-offset: 4px;
    list-style: circle;
}

.header_logo {
    display: block;
}

.header_logo-image {
    max-width: 148px;
    max-height: 105px;
}

.address {
    font-size: 18px;
    line-height: 24px;
}

.address_link {
    display: block;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.address_header {
    margin-top: 5px;
    margin-left: 35px;
}

.cover {
    position: relative;
    z-index: -2;
    width: 100%;
    min-height: 757px;
    margin-top: 96px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.cover_title {
    padding-top: 167px;
    padding-left: 50px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover_title_line_2 {
    margin-left: 286px;
}

.cover_title_line_3 {
    margin-left: 583px;
}

.extended_letter_space {
    letter-spacing: 60px;
}

.cover_subline {
    display: inline-block;
    margin-top: 140px;
    margin-left: 78px;
    color: white;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet_button {
    display: inline-block;
    margin-left: 70px;
    border: 1px solid white;
    padding: 10px 31px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    margin-top: 179px;
    margin-right: 24px;
    margin-left: 24px;
}

.lots_title {
    margin-left: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 25px;
    margin-top: 27px;
    color: white;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    z-index: -2;
    width: 334px;
    height: 563px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(200% - 120px);
}

.lots__card-list-item_1 {
    background-image: url("../images/card-lot-01.jpg");
}

.lots__card-list-item_2 {
    background-image: url("../images/card-lot-02.jpg");

}

.lots__card-list-item_3 {
    background-image: url("../images/card-lot-03.jpg");
}

.lot_title {
    margin-top: 51px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.lot_content {
    /* объясните пожалуйста чем плох абслолют, почему я не могу его испозовать, непонятно */
    position: absolute;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 48px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 24px;
}

.look_more {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 23px;
    text-decoration: underline;
    text-underline-offset: 6px;
}


.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 25px;
    margin-top: 110px;
    margin-right: 24px;
    margin-left: 24px;
}

.about_logo {
    position: relative;
    width: 240px;
    height: 240px;
    margin: auto;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: black;
}

.about_logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 114px;
    transform: translate(-50%, -50%);
}

.about_title {
    margin-top: 172px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.about_description {
    font-size: 20px;
    line-height: 24px;
}

.about_description p:not(:first-child) {
    margin-top: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 182px 50px 88px;
}

.address_footer {
    margin-left: 0;
}

.footer_menu_links-list {
    display: block;
    margin-left: 40px;
    font-size: 18px;
    line-height: 21px;
}

.footer_menu_links-list-item {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer_menu_links-list-item_active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_icon_links {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.footer_icon_links img {
    max-width: 48px;
    max-height: 48px;
}